// 1380 breakpoint



.menu, .sidebar {
  background-color: #fff;
  color: #84634c;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: .8;
  border-radius: 25px;
}

.menu {
  margin-bottom: 30px;
  display: flex
}

.table {
  background-color: #fff;

  // border-radius: 15px;
}

.menu-content {
  padding-left:0;
  border-right: 1px dotted;

  &:after{
    content: '';
  }
}

.menu-categories {
  margin-top: 30px;
  margin-bottom: 20px;
  opacity: .8;
  // margin-left: 2px;


  a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;

    &:hover, &:active, &:focus, {
      outline: none;
      border-bottom: 1px solid #fff;
      padding-bottom: 3px;
    }
  }

  .active {
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
  }

  .cart {
    float: right;
    padding-bottom: 4px;
  }

  .cart > span:first-child {
    margin-right: 5px;
  }
}

.qty-input {
  color: #000;
  text-align: -webkit-right;
  text-align: right;
  padding: 4px 1px;
  border-radius: 6px;
}

#order-total {
  float: right;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 20px;
  border-top: 1px solid #b4b5b3;
  padding-top: 10px;

  span {
    margin-right: 5px;
  }

  button {
    margin-left: 5px;
  }
}

.remove:parent {
  text-align: -webkit-center;
  text-align: center;
}

.table>tbody>tr:hover{
  background-color: initial;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding-left: 0;
}
