
.menu,
.order
{
    padding-top: 15px;
    padding-bottom: 15px;

    opacity: .8;
    color: #84634c;
    background-color: #fff;
}

.menu
{
    display: flex;

    margin-bottom: 30px;
}

.table
{
    background-color: #fff;
}

.menu-categories
{
    margin-top: 30px;
    margin-bottom: 20px;

    opacity: .8;


    a
    {
        margin-right: 10px;

        text-decoration: none;

        color: #fff;

        &:hover,
        &:active,
        &:focus,
        {
            padding-bottom: 3px;

            border-bottom: 1px solid #fff;
            outline: none;
        }
    }

    .active
    {
        padding-bottom: 3px;

        border-bottom: 1px solid #fff;
    }

    .cart
    {
        float: right;

        margin-right: 0;
        padding-bottom: 4px;
    }

    .cart > span:first-child
    {
        margin-right: 5px;
    }
}

.qty-input
{
    padding: 4px 1px;

    text-align: -webkit-right;
    text-align:         right;

    color: #000;
    border-radius: 6px;
}

#order-total
{
    font-size: 20px;

    display: -webkit-flex;
    display:         flex;
    float: right;

    padding-top: 10px;

    border-top: 1px solid #b4b5b3;

    -webkit-align-items: center;
            align-items: center;

    span
    {
        margin-right: 5px;
    }

    button
    {
        margin-left: 5px;
    }
}

.remove:parent
{
    text-align: -webkit-center;
    text-align:         center;
}

.table > tbody > tr:hover
{
    background-color: initial;
}

.table > tbody > tr>td,
.table > tbody > tr>th,
.table > tfoot > tr>td,
.table > tfoot > tr>th,
.table > thead > tr>td,
.table > thead > tr > th
{
    padding-left: 0;
}
