.nav {
  text-align: center;

  .nav-item {
    color: #000;
    display: inline-block;
    font-weight: 500;
    margin: 0 25px;
    padding-bottom: 5px;
    text-decoration: none;

    &:hover {
      border-bottom: solid 1px #000;
    }

    &:focus {
      outline: none;
    }
  }

  .active {
      border-bottom: solid 1px #000;
  }
}
