 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'reset.scss';
@import 'index.scss';
@import 'navigation.scss';
@import 'menu.scss';
@import 'admin.scss';

// Custom Styles

html,
body,
.app,
.page
{
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Gill Sans', Helvetica, sans-serif;
    height: 100%;
}

.page
{
  color: #fff;
  height: 100%;
  background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url('./../images/image-cover.jpeg') no-repeat center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

}

.center {
  text-align: -webkit-center;
  text-align: center;
}

.hidden
{
    display: none;
}
