 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import 'reset.scss';
@import 'index.scss';
@import 'navigation.scss';
@import 'menu.scss';
@import 'admin.scss';

// Custom Styles

html,
body,
.app,
.page
{
    // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'Gill Sans', Helvetica, sans-serif;
    height: 100%;
}

.page
{
  overflow: scroll;
  color: #fff;
  height: 100%;
  background: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url('./../images/image-cover.jpeg') no-repeat center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  margin-bottom: 60px;

}

.center {
  text-align: -webkit-center;
  text-align: center;
}

.right {
  float: right;
}

.clearfix {
  &:before{
    content: '';
    display: block;
  }
  &:after{
    content:'';
    display: block;
    clear: both;
  }
}

.btn-success {
  border-color: #96bb46;
  color: #96bb46;
  background-color: transparent;

  &:active, &:focus{
    opacity: .8;
    border-color: #96bb46;
    color: #96bb46;
    background-color: transparent;
    outline: 0 !important;
  }

  &:hover {
    opacity: .8;
    border-color: transparent;
    background-color: #96bb46;
    color: #fff;
  }
}

.btn-danger {
  opacity: .8;
  outline: none;
  border-color: #b14743;
  color: #b14743;
  background-color: transparent;

  &:active, &:focus{
    outline: 0 !important;
  }

  &:hover {
    opacity: .8;
    background-color: #b14743;
    border-color: transparent;
    color: #fff;
  }
}

.hidden
{
    display: none;
}
