<!doctype html>
<html lang='en' class='no-js'>

<head>
  <meta charset='utf-8'>
  <meta name='description' content=''>
  <!-- to ensure proper rendering and touch zooming, add the viewport meta tag to your <head>. -->
  <meta name='viewport' content='width=device-width, initial-scale=1, minimal-ui'>
  <title>MAJESTIC THAI</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" type='text/css' href="../bower_components/normalize-css/normalize.css" />
  <link rel='stylesheet' type='text/css' href='../bower_components/bootstrap/dist/css/bootstrap.min.css'>
  <!-- endbower -->
  <!-- endbuild -->

  <link href='//fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

  <!-- build:css styles/main.css -->
  <link rel='stylesheet' href='styles/main.css'>
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src='../bower_components/modernizr/modernizr.js'></script>
  <!-- endbuild -->
</head>

<body>

  <div class='container-fluid app'>
    <div class='row nav'></div>
    <div class='row page'></div>
  </div>


  <!-- TEMPLATES ------------------------------------------------------------>

  <script type='text/template' id='navigation-template'>
    <div class="nav-group nav-links">
      <a class='nav-link' href="#">HOME</a>
      <a class='nav-link'  href="#/menu/appetizers">MENU</a>
      <a class='nav-link'  href="#">CONTACT</a>
      <a class='nav-link'  href="#">ADMIN</a>
    </div>
  </script>

  <script type='text/template' id='index-template'>
    <div class='index'>
      <h3>Majestic Thai</h3>
    </div>
  </script>

  <script type='text/template' id='menu-template'>
    <div class='col-md-10 col-md-offset-1 menu-categories'>
      <a href="#/menu/appetizers" class="category appetizers">APPETIZERS</a>
      <a href="#/menu/entrees" class="category entrees">ENTREES</a>
      <a href="#/menu/desserts" class="category desserts">DESSERTS</a>
      <a href="#/order" class='cart cart-icon'><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
      <a href="#/order" class='cart cart-text'><span>ORDER</span><span class='order-total'>0</span></a>
    </div>
    <div class='col-md-10 col-md-offset-1 menu'></div>
  </script>

  <script type='text/template' id='menu-items-template'>
    <table class='table table-hover table-responsive menu-items-table'>
      <thead>
        <tr>
          <th>Image</th>
          <th>Item</th>
          <th class='description'>Description</th>
          <th class='center'>Price</th>
          <th class='toggle center'>Qty</th>
          <th class='toggle center'>Add</th>
          <th class='toggle center hidden'>Remove</th>
        </tr>
      </thead>
      <tbody class='menu-items'></tbody>
    </table>
  </script>

  <script type='text/template' id='menu-item-template'>
      <td class='image'><img src="./images/item-default.jpeg" alt=""></td>
      <td><%= htmlEscape(item) %></td>
      <td class='description'><%= htmlEscape(description) %></td>
      <td class='center'><%= htmlEscape(price) %></td>
      <td class='toggle center'><input class='qty-input menu-item-input' type="number" pattern="\d*"/ user-scalable="0" min='1' max='12' value='1'/></td>
      <td class='toggle center'><button type='button' class='btn btn-success add'>+</button></td>
      <td class='toggle center hidden'><button type='button' class='btn btn-danger remove'>x</button></td>
  </script>

  <script type='text/template' id='order-template'>
    <div class='col-md-10 col-md-offset-1 menu-categories'>
      <a href="#/menu/appetizers" class="category appetizers">APPETIZERS</a>
      <a href="#/menu/entrees" class="category entrees">ENTREES</a>
      <a href="#/menu/desserts" class="category desserts">DESSERTS</a>
      <a href="#/order" class='cart cart-icon'><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></a>
      <a href="#/order" class='cart cart-text'><span>ORDER</span><span class='order-total'>0</span></a>
    </div>
    <div class='col-md-10 col-md-offset-1 order'></div>
  </script>

  <script type='text/template' id='order-items-template'>
    <div class='order-items-template'>
      <table class='table table-hover table-responsive'>
        <thead>
          <tr>
            <th class='center'>Qty</th>
            <th>Item</th>
            <th class='center'>Price</th>
            <th class='center'>Remove</th>
          </tr>
        </thead>
        <tbody class='order-items'></tbody>
      </table>
      <div id='order-total' class='hidden'>
        <span>TOTAL</span>
        <span class='order-total'>$0</span>
        <button type='button' class='btn btn-success submit-order'>PLACE ORDER</button>
      </div>
    </div>
  </script>

  <script type='text/template' id='order-item-template'>
      <td class='center'><input class='qty-input order-item-input' type="number" pattern="\d*"/ user-scalable="0" min='1' max='12' value='<%= htmlEscape(qty) %>'/></td>
      <td><%= htmlEscape(item) %></td>
      <td class='center'><%= htmlEscape(price)%></td>
      <td  class='center'><button type='button' class='btn btn-danger remove'>x</button></td>
  </script>

  <script type='text/template' id='admin-login-template'>

  </script>

  <script type='text/template' id='admin-orders-template'></script>

  <script type='text/template' id='menu-item-add-template'>
    <h3>Add New Menu Item</h3>
    <form class='menu-item-add-form'>
      <div class="form-group form-group-category">
        <label>Category</label>
        <select class="form-control" name='category' value='select'>
          <option>APPETIZERS</option>
          <option>ENTREES</option>
          <option>DESSERTS</option>
        </select>
      </div>
      <div class="form-group">
        <label>Item</label>
        <input type='text' class='form-control' name='item' value="" />
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class='form-control' name='description' value=""></textarea>
      </div>
      <div class="form-group form-group-price">
        <label>Price</label>
        <input type='number' class='form-control price-input' name='price' min="0.00" value="" />
      </div>
      <hr>
      <div class='button-group'>
        <button type='button' class='btn btn-success add-new'>ADD MENU ITEM</button>
        <button type='button' class='btn btn-edit clear'>CLEAR FORM</button>
      </div>
    </form>
  </script>

  <!-- deter unsafe input (& "" ' < >) -->
  <script>
    function htmlEscape(str){
      return String(str)
      .replace(/&/g, '&amp;')
      .replace(/'/g, '&quot;')
      .replace(/'/g, '&#39;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;');
    }
  </script>



  <!-- build:js scripts/vendor.js -->

  <!-- bower:js -->
  <script src='../bower_components/jquery/dist/jquery.js'></script>
  <script src='../bower_components/underscore/underscore.js'></script>
  <!-- bootstraps js requires jquery -->
  <script src='../bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src='../bower_components/backbone/backbone-min.js'></script>
  <!-- bower install git@github.com:jeromegn/Backbone.localStorage -->
  <script src="../bower_components/firebase/firebase.js"></script>
  <script src="../bower_components/backbonefire/dist/backbonefire.min.js"></script>
  <script src='../bower_components/backbone.localStorage/backbone.localStorage-min.js'></script>

  <!-- endbower -->
  <!-- endbuild -->



  <!-- build:js scripts/main.js -->
  <script type='text/javascript' src='scripts/models/menuItem.js'></script>
  <script type='text/javascript' src='scripts/models/orderItem.js'></script>

  <script type='text/javascript' src='scripts/collections/menuItems.js'></script>
  <script type='text/javascript' src='scripts/collections/orderItems.js'></script>
  <script type='text/javascript' src='scripts/collections/orders.js'></script>

  <script type='text/javascript' src='scripts/views/navigation.js'></script>
  <script type='text/javascript' src='scripts/views/index.js'></script>
  <script type='text/javascript' src='scripts/views/menu.js'></script>
  <script type='text/javascript' src='scripts/views/order.js'></script>
  <script type='text/javascript' src='scripts/views/admin.js'></script>

  <script type='text/javascript' src='scripts/main.js'></script>

  <script type='text/javascript' src='scripts/router.js'></script>

  <!-- endbuild -->
</body>

</html>
